i {
    max-width: 4em;
    font-size: 12em;
  }

figcaption {
    font-weight: bold;
  }  
  
  /* .devicon-javascript-plain {
      max-width: 4em;
      font-size: 7em;
    }
  
  .devicon-python-plain-wordmark {
      max-width: 4em;
      font-size: 7em;
    }
  
  .devicon-css3-plain-wordmark {
      max-width: 4em;
      font-size: 7em;
    }
  
  .devicon-html5-plain-wordmark{ 
      max-width: 4em;
      font-size: 7em;
    }
  
  .devicon-mysql-plain-wordmark {
      max-width: 4em;
      font-size: 7em;
    }
  
  .devicon-postgresql-plain-wordmark {
      max-width: 4em;
      font-size: 7em;
    } */